<h1>Restaurants</h1>
<center><%= link_to "Edit Info", edit_restaurant_path %> 
| <%= link_to "Make a Reservation", new_restaurant_reservation_path(@restaurant) %> 
| <%= link_to "See Reservations", restaurant_reservations_path(@restaurant) %> | <%= link_to "Back", restaurants_path %></center>

<p><b><%= @restaurant.name %></b></p>
<p><%= @restaurant.description %></b></p>
